body {
  background-color: #F7F7F7;
}
.rCornenrs {
    border-radius: 10px;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.5;
}
.gl {
    font-size: large;
}

.clearfix {
  overflow: auto;
}
.modal-dialog {
    position: absolute;
    top: 30%;
}